{% extends 'container.twig' %}

{% block container %}
    <h1>Qui sommes-nous ?</h1>
    <h3>L’école d’ingénierie informatique</h3>
    <p class="lead">
        L’informatique accélère le temps, modifie notre perception de l’espace, révolutionne nos modes de communication, contribue à notre évolution sociétale ; ce sont les professionnels de l’informatique qui anticipent et accompagnent ces mutations.
    </p>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="p-3 bg-light rounded shadow-sm">
                <p>
                    Première école d’informatique en France avoir été créée par des professionnels, première à avoir obtenu le titre niveau I RNCP (Bac+5 certifié par l’État) et résolument engagée auprès des entreprises, l’EPSI accompagne le développement des compétences informatiques depuis plus de 55 ans.
                </p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="p-3 bg-light rounded shadow-sm">
                <p>
                    Elle le fait en partageant avec ses étudiants et diplômés des valeurs et attitudes fortes : s’épanouir, être ouvert sur le monde, être responsable et solidaire, être en prise avec la réalité des entreprises, oser, innover, entreprendre.
                </p>
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <p class="lead">
                Cet article vous a-t-il été utile ?
            </p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary"><i class="fal fa-thumbs-up"></i> Like</button>
                <span>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </span>
                <button class="btn btn-outline-danger"><i class="fal fa-thumbs-down"></i> Dislike</button>
            </div>
        </div>
    </div>
{% endblock %}
