{% extends 'container.twig' %}

{% block container %}
    <h1>Qui sommes-nous ?</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor dictum arcu, nec malesuada velit luctus ut. Sed luctus metus vel porttitor facilisis. Suspendisse blandit scelerisque maximus. Aliquam interdum tristique ex non elementum. Cras urna ante, euismod ut odio nec, fermentum gravida nunc. Donec feugiat in ex sed porttitor. Aenean rhoncus tincidunt neque, et rutrum nulla tempor eget. Duis at tempus lectus. Etiam in diam pulvinar quam convallis egestas. Nunc efficitur condimentum molestie.
    </p>
    <div class="row">
        <div class="col">
            <p>
                Nulla velit sapien, blandit quis magna eu, elementum scelerisque tellus. Sed tempor metus venenatis mauris posuere, nec hendrerit ligula scelerisque. In id hendrerit justo. Cras aliquet, nunc eu dictum placerat, libero eros ultricies magna, vel mattis sapien velit non elit. Morbi placerat nisl ut augue congue, eleifend elementum massa fringilla. Pellentesque lorem augue, lobortis non tortor nec, congue porttitor ex. Nullam maximus cursus mollis. Aliquam erat volutpat. Donec elit enim, pretium in pulvinar ac, commodo eget nisl. Aliquam eleifend mollis enim eu mattis. Duis vel est felis. Proin ut nunc sagittis leo feugiat elementum.
            </p>
        </div>
        <div class="col">
            <p>
                Duis suscipit quis arcu id dapibus. Fusce lacinia auctor magna. Fusce posuere felis ut velit sagittis varius. Etiam et tellus nisi. Ut ornare condimentum tortor eu ultricies. Nulla eu urna iaculis, viverra velit quis, fermentum leo. Phasellus feugiat rhoncus enim ac vehicula. Proin quis bibendum neque. In facilisis, odio cursus auctor porttitor, neque mauris posuere tortor, eu consectetur odio nisi vitae augue. Vestibulum sit amet sagittis est. Donec sagittis feugiat lorem nec porttitor. Quisque nec ullamcorper odio.
            </p>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <p class="lead">
                Cet article vous a-t-il été utile ?
            </p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary"><i class="fal fa-thumbs-up"></i> Like</button>
                <span>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </span>
                <button class="btn btn-outline-danger"><i class="fal fa-thumbs-down"></i> Dislike</button>
            </div>
        </div>
    </div>
{% endblock %}