{% extends 'container.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
<h1 class="h2 text-center text-muted">EpsiQuizz</h1>
<div class="card bg-light mb-3">
    <div class="card-body text-center">
        <p>
            Bienvenue sur le quizz de l'EPSI Montpellier !
        </p>
        <p>
            Répondez correctement aux questions et obtenez votre score.
        </p>
        <form action="/req/start/game" method="post">
            <div class="form-row">
                <div class="col">
                    {{ form.text('pseudo', null, {prepend:{icon:'user'}, placeholder:'Pseudo', required: true}) }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="fal fa-share"></i>
                        Jouer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="card bg-light">
        <div class="card-body text-center p-0">
            <div class="table-responsive">
                <table class="table text-center mb-0">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">First</th>
                            <th class="border-top-0">Last</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pseudo, score in leaderboard %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ pseudo }}</td>
                                <td>{{ score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
