{% extends 'container.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
    <div class="card bg-light">
        <div class="card-body">
            <h1>LEARN CODE LEAD !</h1>
        </div>
    </div>
{% endblock %}