{% extends 'container-fluid.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
    <div class="card bg-light shadow ">
        <div class="card-body">
            <h1></h1>
        </div>
    </div>
{% endblock %}