{% extends 'container-fluid.twig' %}

{% block container %}
<iframe src="/content/htm/test.htm" height=93% width=93%>
  <p>Your browser does not support iframes.</p>
</iframe>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
	//code ici
    </script>
{% endblock %}