{% extends 'container-fluid.twig' %}

{% block container %}
    <div class="card">
        <div class="card-body">
            Ici
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // Ton code ici
    </script>
{% endblock %}