<a class="navbar-brand" href="/">
    <i class="fal fa-fish"></i>
    Sushi
</a>
<div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/map">
                <i class="fal fa-map-marked-alt"></i> Carte interactive
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/game">
                <i class="fal fa-gamepad"></i> Quizz
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/vieEtudiante">
                <i class="fal fa-graduation-cap"></i> Vie Etudiante
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">
                <i class="fal fa-info-circle"></i> À propos
            </a>
        </li>
    </ul>
</div>