{% extends 'container.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
<h1 class="h2 text-center">La vie étudiante à l'Epsi de Montpellier</h1>

<div class="card text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <img class="img-fluid rounded" src="/content/img/logo-complet-BDE-1.png">
                    <p>
                        Le Bureau des Etudiants (BDE) <br>
                        « Faire bouger la vie de l’école voilà notre mission. » <br>
                        L’association, plus motivée que jamais promet de mettre le feu au poudre dans cette sérieuse mais néanmoins dynamique école d’informatique.
                        Au programme : une intégration des plus surprenantes, des soirées dans des bars, un week end au ski…<br>
                        Contact : bde.montpellier@epsi.fr
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <p>
                        Food Trucks <br>

                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <p>
                        Salle de détente <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
