{% extends 'container.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
<h1 class="h2 text-center">La vie étudiante à l'Epsi de Montpellier</h1>

<div class="card text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <img class="img-fluid rounded" src="/content/img/logo-complet-BDE-1.png">
                    <p>
                        Le Bureau des Etudiants (BDE) : <br>
                        « Faire bouger la vie de l’école voilà notre mission. » <br>
                        L’association, plus motivée que jamais promet de mettre le feu au poudre dans cette sérieuse mais néanmoins dynamique école d’informatique.
                        Au programme : une intégration des plus surprenantes, des soirées dans des bars, un week end au ski…<br>
                        Contact : bde.montpellier@epsi.fr
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <div class="card mb-3">
                        <div class="card-header font-weight-bold">
                            Food Trucks  :
                        </div>
                        <div class="card-body text-center mb-3">
                            <ul class="list-group bg-light bg-light">
                                <li class="list-group-item bg-light">Lundi : Uncle Steeve (Burger, Américain, Panini)</li>
                                <li class="list-group-item bg-light">Mardi : Cookoling (chinois)</li>
                                <li class="list-group-item bg-light">Mercredi : SELTZ et Limone (Italien)</li>
                                <li class="list-group-item bg-light">Jeudi : La station (Pâtes fraiches)<br>
                                    Jeudi : AKA Funji Bento (Japonais)
                                </li>
                                <li class="list-group-item bg-light">Vendredi : Toro Truck (Burger de taureau)<br>
                                    Vendredi : Le Go Fast (Burger)
                                </li>
                            </ul>
                            <img class="img-fluid rounded shadow-sm mt-3" src="/content/img/foodtruck.jpg" alt="un foodtruck">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm ">
                    <p class="font-weight-bold">
                        Salle de détente :<br>
                    </p>
                    <p>Une salle dédiée à la restauration et à la détente.<br> Vous y trouverez des micro-ondes et des frigos, en plus des tables et chaises. </p>
                    <img class="img-fluid rounded shadow-sm mb-3" src="/content/img/detente.jpg" alt="salle de détente">
                    <img class="img-fluid rounded shadow-sm" src="/content/img/detente_2.jpg" alt="salle de détente">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
