{% extends 'container.twig' %}
{% import 'macro.forms.twig' as form %}

{% block container %}
<h1 class="h2 text-center">La vie étudiante à l'Epsi de Montpellier</h1>

<div class="card text-center">
    <p class="lead">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <div class=""> <img src="/content/img/logo-complet-BDE-1.png"> </div>
                    <p>
                        Le Bureau des Etudiants (BDE) <br>
                        « Faire bouger la vie de l’école voilà notre mission. » <br>
                        L’association, plus motivée que jamais promet de mettre le feu au poudre dans cette sérieuse mais néanmoins dynamique école d’informatique.
                        Au programme : une intégration des plus surprenantes, des soirées dans des bars, un week end au ski…<br>
                        Contact : bde.montpellier@epsi.fr
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <p>
                        Première école d’informatique en France avoir été créée par des professionnels, première à avoir obtenu le titre niveau I RNCP (Bac+5 certifié par l’État) et résolument engagée auprès des entreprises, l’EPSI accompagne le développement des compétences informatiques depuis plus de 55 ans.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="p-3 bg-light rounded shadow-sm">
                    <p>
                        Elle le fait en partageant avec ses étudiants et diplômés des valeurs et attitudes fortes : s’épanouir, être ouvert sur le monde, être responsable et solidaire, être en prise avec la réalité des entreprises, oser, innover, entreprendre.
                    </p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
